<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374168413412-pg9q2gfccanf2uorr61bdglshirukqa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374168413412-pg9q2gfccanf2uorr61bdglshirukqa6</string>
	<key>API_KEY</key>
	<string>AIzaSyAC-ZpOnV2luh0JdacvODnoh_EarVRAZtU</string>
	<key>GCM_SENDER_ID</key>
	<string>374168413412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibanimatable.moments</string>
	<key>PROJECT_ID</key>
	<string>moments-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>moments-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374168413412:ios:28519ae3b2eab0b6a038f1</string>
	<key>DATABASE_URL</key>
	<string>https://moments-app-project.firebaseio.com</string>
</dict>
</plist>